!!!
%html
  %head
    %title Exercise Javascript Api
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags

  %body
    .page
      = render "layouts/header"
      = yield
      = render "layouts/footer"
